body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    flex-direction: column;
    background-color: #EFEFEF;
}
#header{
    display: flex;
    color: #EFEFEF;
    background-color: #065A82;
    margin-bottom: 5%;
    text-align: center;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    top: 0;
    z-index: 1;
}

button{
    font-size: 20px;
}

.dark-mode {
    background-color: black;
    color: #EFEFEF;
}

/* This makes it so the footer stays automatically on the botton + the first three lines in body*/
#footer {
    margin-top: auto;
    background-color: #065A82;
    color: #EFEFEF;
}

a:link {
    color: #EFEFEF;
    text-decoration: none;
}

a:visited {
    color: #000000;
}

.pictureFolder{
    display: flex;
    direction: ltr;
    width: auto;
}

.picture {
    display: flex;
    height: 100px;
    width: auto;
}