body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    flex-direction: column;
    background-color: #EFEFEF;
}
#header{
    display: flex;
    background-color: #065A82;
    margin-bottom: 5%;
    text-align: center;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    top: 0;
    z-index: 1;
}

button{
    font-size: 20px;
}



/* This makes it so the footer stays automatically on the botton + the first three lines in body*/
#footer {
    margin-top: auto;
    background-color: #065A82;
    
}