<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/Stylesheet.css') }} ">

</head>
<body>
    <div class="header" id="header">
        <div class="logo">
        </div>
        <h1>FrameLink</h1>
        <button type="button" id="changeColor">Dark mode</button>
        <button type="button" class="buttons" id="buttons" onclick="location.href='{{ url_for ('home') }}'">Home</button>
        <button type="button" class="buttons" id="buttons" onclick="location.href='{{ url_for ('login') }}'">Log in</button>
    </div>
    <div class="main" id="main">
        <p>something will go here</p>
    </div>
    <div class="footer" id="footer">
        <p>Credits Jay</p>
        <a href="https://github.com/Lolrandomthings/aarsoppgave_2025">Link to GitHub Project</a>
    </div>

    <script src="{{ url_for('static', filename='Javascript/Js.js') }}"></script>
</body>
</html>