<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/Stylesheet.css') }} ">
</head>
<body>
    <div class="header" id="header">
        <div class="logo">
        </div>
        <h1>Ninjaflix</h1>
        <button type="button" id="changeColor">Dark mode</button>
        <button type="button" class="buttons" id="buttons">Button 1</button>
        <button type="button" class="buttons" id="buttons">Button 2</button>
    </div>
    <div class="main" id="main">
        <img src="static/Pexel/Pexel1.jpg" alt="" class="Picture">
        <img src="static/Pexel/Pexel2.jpg" alt="" class="Picture">
        <img src="static/Pexel/Pexel3.jpg" alt="" class="Picture">
        <img src="static/Pexel/Pexel4.jpg" alt="" class="Picture">
        <img src="static/Pexel/Pexel5.jpg" alt="" class="Picture">
        <img src="static/Pexel/Pexel6.jpg" alt="" class="Picture">
        <img src="static/Pexel/Pexel7.jpg" alt="" class="Picture">
        <img src="static/Pexel/Pexel8.jpg" alt="" class="Picture">
        <p>Something will go here</p>
    </div>
    <div class="footer" id="footer">
        <p>Credits Jay</p>
        <a href="https://www.youtube.com/shorts/eu3rEBydvvQ">Link infinity nikki youtube video</a>
    </div>

    <script src="{{ url_for('static', filename='Javascript/Js.js') }}"></script>
</body>
</html>