<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/Stylesheet.css">
</head>
<body>
    <div class="header" id="header">
        <h1>Header</h1>
        <button type="button" id="changeColor">Nightmode</button>
        <button type="button" class="buttons" id="buttons">Button 1</button>
        <button type="button" class="buttons" id="buttons">Button 2</button>
    </div>
    <div class="main" id="main">
        <p>Something will go here</p>
    </div>
    <div class="footer" id="footer">
        <p>Credits Jay</p>
        <a href="">Link to something</a>
    </div>

    <script src="static/Js.js"></script>
</body>
</html>